[Unit]
Description=on_desk startup
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/ondeck/OnDeck-RaspberryPi/on_desk.sh
WorkingDirectory=/home/ondeck/OnDeck-RaspberryPi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
