[Unit]
Description=on_deck startup
After=network.target

[Service]
WorkingDirectory=/home/on_deck
ExecStart=/home/on_deck/on_deck/setup/on_deck_display.sh
Type=forking

[Install]
WantedBy=multi-user.target
