[Unit]
Description=on_desk startup
After=update.target

[Service]
Type=simple
User=on_desk
WorkingDirectory=/home/on_desk/on_deck/on_deck
ExecStart=/home/on_desk/venv/bin/python -u on_desk.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
