[Unit]
Description=on_deck startup
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=~/on_deck/setup/on_deck.sh
WorkingDirectory=~/on_deck
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
