[Unit]
Description=on_deck startup
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/on_deck/on_deck/setup/on_deck_display.sh
WorkingDirectory=/home/on_deck/on_deck
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
