[Unit]
Description=on_desk startup
After=update.target

[Service]
Type=simple
WorkingDirectory=/home/on_deck/on_deck
ExecStart=/home/on_deck/on_deck/setup/on_desk.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
